{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("businessAlreadyRegistered.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("businessAlreadyRegistered.heading") }}
        </h1>

        <p class="govuk-body">
          {{ messages("businessAlreadyRegistered.p1") }}
        </p>

        <p class="bottom-margin govuk-body"> {{ messages("businessAlreadyRegistered.p2")}}
          <a href="mailto:{{emailAddress}}" class="govuk-link">{{emailAddress}}</a>
          {{ messages("businessAlreadyRegistered.p2b")}}
        </p>

      </div>
    </div>
  </div>

{% endblock %}
